* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(images/back2.jpg);
    min-width: 300px;
    max-width: 800px;
    margin: auto;
}

header {
    margin-left: 10px;
    
}

main {
    
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    display: block;
    
    text-align: center;
    height: 1000px;
}

#sh-logo {
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    display: block;
}
main > p {
    color: white;
    text-align: center;
    margin: auto;
}

a {
    text-decoration: underline;
    color: white;
}
footer {
    color: white;
    margin-top: auto;
    border-top: 1px solid white;
    text-align: center;
}