@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body {
    background-image: url(../images/background.jpg);
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    height: 100vh;
    margin: auto;
}

.principal > a > p {
    font-size: 24px;
    font-weight: bolder;
    padding: 5px;
    
}

a {
    text-decoration: none;
}

#logo {
    width: 100%;
}